---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-40">
    <div class="pointer-events-none absolute inset-0 -z-[1]" aria-hidden="true">
      <div class="absolute inset-0"></div>
    </div><div class="text-default relative mx-auto max-w-6xl px-4 py-2 md:px-6 md:py-16 lg:py-20">
      <div
        class="mx-auto max-w-3xl rounded-md p-6 text-center shadow-xl dark:border dark:border-slate-600 dark:shadow-none"
      >
        <div class="mb-0 text-center md:mx-auto md:mb-0">
          <h2
            class="leading-tighter leading-tighter font-heading text-heading mb-4 text-4xl font-bold tracking-tighter md:text-4xl"
          >
            Pronto en Cusco!
          </h2><p class="text-muted mt-4 text-xl dark:text-slate-400">
            Estamos emocionados de compartir contigo la próxima inauguración de MindFit. Mantente atento a nuestras actualizaciones para obtener más información sobre la fecha de apertura, las promociones de lanzamiento y cómo puedes ser parte de esta emocionante nueva aventura.
          </p>
        </div><div
          class="m-auto mt-6 flex max-w-xs flex-col flex-nowrap gap-4 sm:max-w-md sm:flex-row sm:justify-center"
        >
          <div class="flex w-full sm:w-auto">
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-40">
    <div class="container md:px-6 md:py6">
      <h2 class="mb-16 text-6xl">¿Por qué MindFit?</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-2">
        <Feature icon="mdi:gymnastics" title="Enfoque Integral">
          Nos centramos en la salud y el bienestar mental y físico. Ofrecemos programas diseñados para fortalecer tanto
          la mente como el cuerpo, ayudándote a alcanzar un equilibrio saludable en tu vida diaria.
        </Feature>
        <Feature icon="mdi:account-heart" title="Entrenamiento Personalizado">
          Nuestros entrenadores certificados trabajarán contigo para crear un plan de ejercicios personalizado que se
          adapte a tus necesidades y objetivos específicos.
        </Feature>
        <Feature icon="mdi:looks" title="Apoyo Emocional">
          Reconocemos la importancia del bienestar emocional. Ofrecemos sesiones de asesoramiento individualizado para
          ayudarte a manejar el estrés, la ansiedad y otros desafíos emocionales que puedas enfrentar.
        </Feature>
        <Feature icon="mdi:medal-outline" title="Variedad de Clases">
          Desde yoga y meditación hasta entrenamiento de alta intensidad y clases grupales, tenemos una amplia variedad
          de clases diseñadas para satisfacer tus intereses y necesidades.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/gabin.jpg">
    <h2>Únete a la Comunidad MindFit</h2>
    <p class="text-2xl">
      En MindFit, no solo te ofrecemos un lugar para hacer ejercicio, sino que te invitamos a formar parte de una
      comunidad enérgica y solidaria de personas comprometidas con su salud y bienestar. Únete a nosotros y descubre
      cómo juntos podemos alcanzar nuevos niveles de bienestar.
    </p>
  </ContentMedia>
  
  
</DefaultLayout>
