---
import { Icon } from 'astro-icon/components'
import {
  Accordion,
  AccordionItem,
  Breadcrumbs,
  BreadcrumbsItem,
  Card,
  Media,
  Modal,
  Notification,
  Pagination,
} from 'accessible-astro-components'
const { src = '/splashh.jpg' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot><span class="text-gradient">Bienvenido a MindFit</span> Gym and wellness</slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          
          <a href="https://wa.me/16823313999?text=Estoy%20super%20interesado%20de%20contactarme%20con%20ustedes" class="whatsapp-button" target="_blank">
            <button class="button has-icon color-neutral a"><Icon name="ion:logo-whatsapp" />Toma Contacto con Nosotros</button>
          </a>
          
        </div>
      </div>
      <img class="hidden lg:block img" src={src} alt="" decoding="async" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .a {
    border-radius: 10px;
  }
  img {
    border-radius: 30% 70% 54% 46% / 45% 37% 63% 55%  ;

    width: 500px;
    height: auto;
  }
 
</style>
